
<div class="cards">

    <img src="/assets/respingo-design.jpg" alt="">
    <div class="card">
        <p class="height-paragraph">programmer-kay 2023</p>
        <h3>Lorem ipsum dolor <br>sit amet consectetur adipisicing elit. <br> Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
</div>
<div class="cards">
    <img src="/assets/jovem-designer.jpg" alt="">
    <div class="card">
        <p class="height-paragraph">programmer-kay 2023</p>
        <h3>Lorem ipsum dolor ipsum <br>sit amet consectetur adipisicing elit.</h3>    
    </div>
    
</div>
<div class="cards">
    <img src="/assets/computador.jpg" alt="">
    
    <div class="card">
        <p class="height-paragraph">programmer-kay 2023</p>
        <h3>Lorem ipsum dolor <br> sit amet consectetur adipisicing <br>elit.</h3>
    </div>
</div>
