<header>
    <nav>
        <div id="consert-div-header">
        <img src="assets/logoorange (1).png" alt="">
        <a href="#
        ">LEARN</a>
        <a href="#
        ">BLOGS</a>
        <a href="#
        ">BOOKMARKS</a>
        <a href="#
        ">UI KIT</a>
        <a href="#
        ">LAINA NYA</a>
        </div>
        <div class="images-link">
            <a href=""><img src="https://www.dwinawan.com/img/icon_twitter.svg" alt=""></a>
            <a href=""><img src="https://www.dwinawan.com/img/icon_instagram.svg" alt=""></a>
            <a href=""><img src="https://www.dwinawan.com/img/icon_dribbble.svg" alt=""></a>
            <a href=""><img src="https://www.dwinawan.com/img/icon_medium.svg" alt=""></a>
        </div>
    </nav>
   
</header>