@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap');
.div-component-card{
    display: flex;
    margin-top: 50px;
   
}
.div-consert{
    width: 50%;
    display: flex;
    justify-content: center;
}
